body{
    background-color: rgb(255, 255, 255);
}
.icon{
width:3rem ;
}
img{
    max-width: 100%;
}
.gr{
    background-color: #130285;
}
.name{
    text-decoration: none;
  display: flex;
}
.game{
    color: rgb(255, 255, 255); 
    margin-left: 7%;
    font-family: 'Permanent Marker', cursive;
}

.full{
    background-image: url(12.png);
    background-size:cover ;
    background-position: 50% 50%;
    

}
.ku{
    color: rgb(219, 124, 7);
}
.ho{
  margin-top: 20%;
  
  margin-left: 10%;
    color: rgb(255, 255, 255);
    list-style-type:decimal;
    list-style-image: url(1.png);
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100; 
}
.ho2{
    
    margin-left: 10%;
      color: rgb(255, 255, 255);
      list-style-type:decimal;
      list-style-image: url(2.png);
      font-size: 30px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100; 
  }
  .ho3{
    
    margin-left: 10%;
      color: rgb(255, 255, 255);
      list-style-type:decimal;
      list-style-image: url(3.png);
      font-size: 30px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100; 
  }
  .ho4{
    
    margin-left: 10%;
      color: rgb(255, 255, 255);
      list-style-type:decimal;
      list-style-image: url(4.png);
      font-size: 30px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100; 
  }
  .ho5{
    
    margin-left: 10%;
      color: rgb(255, 255, 255);
      list-style-type:decimal;
      list-style-image: url(5.png);
      font-size: 30px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100; 
      margin-bottom: 35%;
  }
  .tj{
      margin-top: 120%;
  }
  .first{
      background-color: rgb(29, 29, 29);
  }
